<template name="chatRoom">
  <div class="container">
    <div id="messageArea" class="row">
      <div class="col-md-4">
        <div class="well">
          <h3>Users in this room</h3>
          {{#each getData}}
          <h4 id="roomName">{{cleanRoom}}</h4>
          {{/each}}
          <ul class="list-group" id="users">
            {{getMsg}}
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="chat" id="chat">

        </div>
        <form id="messageForm">
          <div class="form-group">
            <label>Enter Message</label>
            <textarea class="form-control" id="message"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
