<template name="chatRoom">
    {{#if Template.subscriptionsReady}} {{#if getData}}
    <div class="container">
        {{#if display}}
        <div class="vote-box">
            <button class="yes btn btn-success btn-xs">Yes ( {{getData.voteState.yes}} )</button>
            <button class="no btn btn-success btn-xs">No ( {{getData.voteState.no}} )</button>
        </div>
        {{/if}}
        <div id="messageArea" class="row">
            <div class="ds col-md-4">
                <div class="well">
                    <h3>Users in this room</h3>
                    <h4 id="roomName">{{getData.cleanRoom}}</h4>
                    <ul class="list-group" id="users">
                        {{#each getData.connectedUsers}}
                        <li style="margin: 10px">{{this}}
                            <button class="vote-kick btn btn-danger btn-xs">Vote Kick</button>
                        </li>
                        {{/each}}
                    </ul>

                </div>

            </div>
            <div class="col-md-8">
                <div class="chat" id="chat">
                    {{#each getData.roomMsg}}
                    <div>
                        <div class="name">
                            {{sender}}, {{date}}
                        </div>
                        <div class="name">
                            <span>{{message}}</span>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{#if isLogged}}
                <form id="messageForm">
                    <div class="form-group">
                        <label>Enter Message</label>
                        <textarea class="form-control" id="message"></textarea>
                        <br>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="message_body">
        <h1>Page Not Found</h1>
        <span>We searched everywhere but couldn't find the page you were looking for.</span>
        <div class="redirect">
          <span>
            <a href="/">Take me Home</a>
          </span>
        </div>
    </div>
    {{/if}}
    {{/if}}
</template>
