<template name="room">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 chat">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{getRoom.labelRoom}}
                    </div>
                    <div class="panel-body">
                        <div></div>
                        <form id="messageForm">
                            <div class="form-group">
                                <label>Enter Message</label>
                                <textarea class="form-control" id="message"></textarea>
                                <br>
                                <input type="submit" class="btn btn-primary" value="Send">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 usersOnline">
                <ul class="list-group">
                    <li class="list-group-item">Lorem</li>
                </ul>
            </div>
        </div>
    </div>
    {{getMsgs}}
</template>
